/* General Reset and Styling */
html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* Container Styling */
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 300px;
    border: 2px solid black;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 25px aqua, 0px 0px 25px rgb(0, 26, 255);
    filter:drop-shadow( 0px 0px 110px rgba(15, 120, 240, 0.616));
    color: white;
}

/* Form Styling */
form {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    filter:drop-shadow( 0px 0px 110px rgba(15, 120, 240, 0.616));
   
    
}

form input,select,button,option{
    width: 100%;
    padding:5px  35px;
    border-radius: 5px;
    margin: 5px 0px;
    font-weight: 600;
    color: black;
    line-height: 1.5; 
    filter:drop-shadow( 0px 0px 110px rgba(15, 120, 240, 0.616));
    
}

form .inp {
    position: relative;
    width: 300px;
}

form div {
    display: flex;
}

img {
    width: 22px;
    height: auto;
    border: none;
}

form div .user {
    position: absolute;
    z-index: 1;
    border: none;
    border-radius: 50%;
    padding: 1.4vh;
}

form div .phone {
    position: absolute;
    z-index: 1;
    border: none;
    border-radius: 100%;
    padding: 1.5vh;
    
}
form div .email{
    position: absolute;
    z-index: 1;
    border: none;
    border-radius: 50%;
    padding: 1.5vh;


}
form div .pass{
    position: absolute;
    z-index: 1;
    border: none;
    border-radius: 50%;
    padding: 1.4vh;


}
form button {
    background-color: rgba(11, 160, 230, 0.74);
   
}
form a{
    margin: 0px 5px;
    font-size: 18px;
    filter:drop-shadow( 0px 0px 110px rgba(15, 120, 240, 0.616));
    color: white;
}

form button:hover {
    background-color: rgb(0, 0, 0);
    color: white;
}
